---
import Layout from "../layouts/Layout.astro";
import { getBlock } from "../lib/notion-cms";
import { getPageProperties } from "../lib/notion-cms-page";
import { parseBlocks } from "../lib/notion-parse";
import { marked } from "../lib/marked";

const homePageId = import.meta.env.NOTION_PAGE_ID_HOME;

const properties = await getPageProperties(homePageId);
const lastEditDate = new Date(properties.last_edited_time).toLocaleDateString(
  "en-US",
  { year: "numeric", month: "2-digit", day: "2-digit" },
);

const headlineContent = marked.parse(parseBlocks(await getBlock(homePageId)));
const ingredients = marked.parse(
  parseBlocks(await getBlock(import.meta.env.NOTION_PAGE_ID_HOME_INGR)),
);
const allergies = marked.parse(
  parseBlocks(await getBlock(import.meta.env.NOTION_PAGE_ID_HOME_ALLE)),
);
---

<Layout
  {...properties}
  className="mx-auto max-w-prose prose-a:underline"
  isNavigationFixed={false}
>
  <div class="text-center flex flex-col items-center font-arial gap-2">
    <h1 class="text-5xl font-extrabold">高崧柏</h1>
    <h2 class="uppercase font-arial text-xl font-bold">Andrew Gao</h2>
    <div class="bg-black w-full text-stone-100 px-2 py-1">
      <Fragment set:html={headlineContent} />
    </div>
    <div class="uppercase">
      <Fragment set:html={ingredients} />
    </div>
    <div>
      <p class="uppercase"><b>Net wt.:</b> Like 160 lbs (72 kg)</p>
      <p class="uppercase font-bold">KEEP REFRIGERATED</p>
    </div>
    <div class="flex place-content-between w-full px-3">
      <p class="text-start">美国生产<br />MADE IN USA</p><p class="text-end">
        无防腐剂<br />NO PRESERVATIVE
      </p>
    </div>
    <div class="flex items-center gap-3">
      <svg class="h-15 w-15" viewBox="0 0 60 60">
        <style>
          .center-text {
            font-size: 2.05rem;
          }
          .path-text {
            font-size: 0.5rem;
          }
        </style>
        <circle
          cx="30"
          cy="30"
          r="20"
          fill="none"
          stroke="black"
          stroke-width="2"></circle>
        <circle
          id="TextPath"
          cx="30"
          cy="30"
          r="22"
          fill="none"
          stroke="none"
          transform="rotate(90 30 30)"
          stroke-width="2"></circle>
        <text x="14" y="41" class="center-text">高</text>
        <text class="path-text">
          <textPath href="#TextPath" startOffset="14.5%">
            ANDREW GAO FOOD INC.
          </textPath>
        </text>
      </svg>
      <p class="text-center uppercase text-xs leading-none">
        高 崧 柏 食 品 公 司<br />Andrew Gao Food Inc.<br />75 E. Broadway<br
        />New York, NY 10002
      </p>
    </div>
    <div>
      <img src="barcode.svg" alt="barcode" width="442px" height="120px" />
    </div>
    <div class="uppercase text-sm">
      <Fragment set:html={allergies} />
    </div>
    <p class="text-sm font-semibold">SHAKE WELL<br />BEFORE CONSUME</p>
    <div
      class="bg-black w-full px-2 py-1 text-lg uppercase flex place-content-center gap-5"
    >
      <a href="https://twitter.com/ndrewgao/" class="text-stone-100">Twitter</a>
      <a href="https://www.linkedin.com/in/andrewxgao/" class="text-stone-100"
        >LinkedIn</a
      >
      <a href="https://github.com/kungpaogao" class="text-stone-100">GitHub</a>
    </div>
    <svg class="-translate-y-3">
      <path
        id="ProdTextPath"
        d="M5,18 
        C25,17.5 45,18.5 65,18 
        C85,17.7 105,18.3 125,18 
        C145,17.8 165,18.2 185,18 
        C205,17.6 225,18.4 245,18 
        C265,17.5 285,18.5 305,18"
        fill="none"
        stroke="none"></path>
      <text class="font-mono rotate-1 text-2xl fill-gray-500/80">
        <textPath href="#ProdTextPath">
          PROD. ON {lastEditDate}
        </textPath>
      </text>
    </svg>
  </div>
</Layout>
