---
export interface Props {
  title: string;
  description: string;
  path: string;
  imageUrl?: string;
}

const {
  title = "Andrew Gao",
  description = "This is the website of Andrew Gao",
  path = "/",
  imageUrl = new URL("/background.jpg", Astro.site),
} = Astro.props as Props;

const canonicalURL = new URL(path, Astro.site);
const fullTitle = path === "/" ? "Andrew Gao" : `${title} | Andrew Gao`;
---

<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width" />

<link rel="icon" type="image/x-icon" href="/favicon.ico" />
<title>{fullTitle}</title>
<link rel="canonical" href={canonicalURL} />

<meta name="title" content={fullTitle} />
<meta name="description" content={description} />
<meta name="generator" content={Astro.generator} />

<!-- robots -->
<meta name="robots" content="index,follow" />
<meta name="googlebot" content="index,follow" />

<!-- apple -->
<meta name="apple-mobile-web-app-title" content="Gao" />
<meta name="apple-mobile-web-app-capable" content="yes" />

<!-- og -->
<meta property="og:locale" content="en_US" />
<meta property="og:type" content="website" />
<meta property="og:site_name" content={fullTitle} />
<meta property="og:url" content={canonicalURL} />
<meta property="og:title" content={fullTitle} />
<meta property="og:description" content={description} />
<meta property="og:image" content={imageUrl} />
<meta property="og:image:secure_url" content={imageUrl} />
<meta property="og:image:alt" content={fullTitle} />

<!-- twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={canonicalURL} />
<meta property="twitter:site" content="@ndrewgao" />
<meta property="twitter:creator" content="@ndrewgao" />
<meta property="twitter:title" content={fullTitle} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={imageUrl} />
<meta property="twitter:image:alt" content={fullTitle} />

<!-- styles and fonts -->
<link
  rel="preload"
  href="/fonts/Inter-Variable.woff2?v=3.19"
  crossorigin="anonymous"
  as="font"
  type="font/woff2"
/>
