---
import clsx from "clsx";
import type { Props as HeadProps } from "../components/Head.astro";
import Head from "../components/Head.astro";
import Navigation from "../components/Navigation";
import "../styles/global.css";
import "../styles/fonts.css";
import { parsePageUrl } from "src/lib/notion-cms-page";
import { queryNotionDatabase } from "src/lib/notion-cms";
import { parseProperty } from "src/lib/notion-parse";

interface Props extends HeadProps {
  className?: string;
  bodyClassName?: string;
}

const { title, description, path, imageUrl, className, bodyClassName } =
  Astro.props as Props;

const databaseId = parsePageUrl(
  "https://www.notion.so/kungpaogao/9e108442735a4e52940277f6e11ae2c1"
);
const pages = await queryNotionDatabase({
  database_id: databaseId,
  filter: {
    and: [
      {
        property: "path",
        rich_text: {
          does_not_equal: "/",
        },
      },
      {
        property: "public",
        checkbox: {
          equals: true,
        },
      },
    ],
  },
});
---

<!doctype html>
<html lang="en">
  <head>
    <Head
      title={title}
      description={description}
      path={path}
      imageUrl={imageUrl}
    />
  </head>

  <body class={clsx(bodyClassName)}>
    <Navigation
      client:idle
      className="sticky top-0 w-full"
      routes={pages.map((page) => ({
        name: parseProperty(page.properties["title"]),
        path: parseProperty(page.properties["path"]),
      }))}
    />
    <main class={clsx("px-5 py-7", "md:px-0", className)}>
      <slot />
    </main>
  </body>
</html>
