---
import clsx from "clsx";
import type { Props as HeadProps } from "../components/Head.astro";
import Head from "../components/Head.astro";
import Navigation from "../components/Navigation";
import "../styles/global.css";
import "../styles/fonts.css";

interface Props extends HeadProps {
  className?: string;
  bodyClassName?: string;
}

const { title, description, path, imageUrl, className, bodyClassName } =
  Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <Head
      title={title}
      description={description}
      path={path}
      imageUrl={imageUrl}
    />
  </head>

  <body class={clsx(bodyClassName)}>
    <Navigation client:idle className="sticky top-0 w-full" />
    <main class={clsx("px-5 py-7", "md:px-0", className)}>
      <slot />
    </main>
  </body>
</html>
