---
import clsx from "clsx";
import type { Props as HeadProps } from "../components/Head.astro";
import Head from "../components/Head.astro";
import "../styles/global.css";
import Navigation from "@components/Navigation.astro";

interface Props extends HeadProps {
  /**
   * Class for default slot
   */
  className?: string;
  /**
   * Class for `<body>` section
   */
  bodyClassName?: string;
  /**
   * Class for `<main>` section
   */
  mainClassName?: string;
  /**
   * Whether the navigation should be sticky
   * @default true
   */
  isNavigationFixed?: boolean;
}

const {
  title,
  description,
  path,
  imageUrl,
  className,
  bodyClassName,
  mainClassName,
  isNavigationFixed = true,
} = Astro.props as Props;
---

<!doctype html>
<html lang="en">
  <head>
    <Head
      title={title}
      description={description}
      path={path}
      imageUrl={imageUrl}
    />
    <slot name="head" />
  </head>

  <body class={bodyClassName}>
    {
      isNavigationFixed && (
        <div class="fixed top-0 left-0 right-0 h-24 bg-gradient-to-b from-stone-100 to-transparent backdrop-blur-sm pointer-events-none z-10" />
      )
    }
    <Navigation isFixed={isNavigationFixed} />
    <main class={mainClassName}>
      <div
        class={clsx(
          isNavigationFixed ? "pt-13" : "pt-3",
          "px-5 pb-7",
          "md:px-0",
          className,
        )}
      >
        <slot />
      </div>
      <slot name="main-p-0" />
    </main>
  </body>
</html>
